﻿@model _3.MarkomAppViewModel.EventViewModel

@{
    ViewBag.Title = "Create";
}

    <form style="color:#343a40">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <label>*Transaction Code</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "Auto Generated" } })
                    <span class="validasiAlert validasi1" style="color:red;font-size:smaller">*Harus diisi !!</span>
                </div>
            </div>


            <div class="row" style="padding-top:10px">
                <div class="col-md-4">
                    <label>*Event Name</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.eventName, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Event Name" } })
                    <span class="validasiAlert validasi2" style="color:red;font-size:smaller">*Harus diisi !!</span>
                </div>
            </div>

            <div class="row" style="padding-top:10px">
                <div class="col-md-4">
                    <label>*Event Place</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.place, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Event Place" } })
                    <span class="validasiAlert validasi2" style="color:red;font-size:smaller">*Harus diisi !!</span>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-md-4">
                    <label>*Event Start Date</label>
                </div>
                <div class="col-md-8">
                    <input type="date" class="form-control start_date" id="start_date" name="start_date" value="">
                    <span class="validasiAlert validasi2" style="color:red;font-size:smaller">*Harus diisi !!</span>
                    @*@Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Phone" } })*@
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-md-4">
                    <label>*Event End Date</label>
                </div>
                <div class="col-md-8">
                    <input type="date" class="form-control end_date" id="end_date" name="end_date" value="">
                    <span class="validasiAlert validasi2" style="color:red;font-size:smaller">*Harus diisi !!</span>
                </div>
                @*@Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Phone" } })*@
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-md-4">
                <label>*Budget (Rp)</label>
            </div>
            <div class="col-md-8">

                @Html.EditorFor(model => model.budget, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Budget" } })
                <span class="validasiAlert validasi2" style="color:red;font-size:smaller">*Harus diisi !!</span>
            </div>
        </div>

        <div class="row" style="padding-top:10px">
            <div class="col-md-4">
                <label>*Request By</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.requestBy, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "Request By"} })
                @*@Html.EditorFor(model => model.requestBy, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Request By" } })*@
                <span class="validasiAlert validasi2" style="color:red;font-size:smaller">*Harus diisi !!</span>
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-md-4">
                <label>*Request Date</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.requestDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "Request Date" } })
                @*<input type="date" class="form-control request_date" id="request_date" name="request_date" value="">*@
                @*@Html.EditorFor(model => model.requestDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Adress" } })*@
                <span class="validasiAlert validasi2" style="color:red;font-size:smaller">*Harus diisi !!</span>
            </div>
        </div>

        <div class="row" style="padding-top:15px">
            <div class="col-md-12">
                <button type="button" class="btn btn-block bg-gradient-warning" style="width:80px; float:right" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-block btn-primary" id="add_unit_save" style="width:80px; float:right; margin-top:0%; margin-right:5px">Save</button>
            </div>
        </div>

    </form>





